@charset "utf-8";
/* CSS Document */

body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  max-width:100%;
  	margin: 0;
	padding: 0;
  background-color:#CCC	; 
  	border: none; 
}
#wrapper{
	size: 100% 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#wrapper .header{
background-color: black;

	background-repeat: no-repeat;
	background-size: 100% 130px;
	height: 130px; 
	
    box-shadow: 10px 10px 5px #888888; 
	}
	
.header  a{
  color: white;
  font-size: 120%;
  float: right;
  	text-align: right;
  
}
.header   ul {
  padding: 50px;
  position: relative;
  font-family:Impact, Charcoal, sans-serif;
} 
.header   ul li{
  display: inline-block;
   float: right;
}
.header   a:link{
  padding: 10px;
  text-decoration: none;
}

.header ul li a:hover {
  color: green;
  border: 3px solid green;
  outline: 2px solid green; 

}
.header  {
  padding:5px;
} 
.header ul li a{
  display: inline-block;
  float:right;
 
  margin-top:0%;
  
}
.header  h1 {
	float: left;
	font-family:Impact, Charcoal, sans-serif;
	margin-top:0%;
	margin-left:10%;
	}
	.header h1 a{
	color: white;
	font-size: 98px;
	
	}
@viewport{
	zoom: 1.0;
	width:extend-to-zoom;
}
@-ms-viewport{
	zoom:1.0;
	width:extend-to-zoom;
}
.footer{
	margin-top:420px;
	color:white;
	padding:50px;
    background-color: #333;
	background-repeat: no-repeat;
	background-size: 100% 130px;
	}
.footer p{
	color:white;
	text-align:center;
		
	}
	.footer ul li{
	text-align:center;	
	}
	
	.footer ul li {
	margin-left:30%;
	font-size: 170%;
	display: inline-block;
	color:white;	
	font-family:Impact, Charcoal, sans-serif;
	}
		
	.footer ul li a{
	
	font-size: 60%;
	
	color:white;	
	font-family:Impact, Charcoal, sans-serif;
	}
	
	.footer ul li a:hover{
		color:green}
		#map{
			
			margin-top:100px;
				margin-left:70px;
			}
	
	#information{
		margin-top:-480px;
		margin-left:800px;
		}